* {
    box-sizing: border-box;
}


html, body {
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* You shouldn't use this. There's little chance other viewers will have such
       exotic font on their PCs. You need to use a font which can be fetched from
       the web using @fontface declaration. If you can find this particular font
       available online, drop me a link
    font-family: "NimbusSansNovusTOT-Med", Helvetica, sans-serif;
    */
    font-family: 'NimbusSansNovusTOT-Med', sans-serif;
    font-size: 12px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

a, a:hover {
    text-decoration: none;
}


/* Default page background */
#laytheme {
    height: 100%;
    width: 100%;
    padding: 16px;
    background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
    background-color: lightgray;
	/*background-image:
url('https://images.unsplash.com/photo-1469386220931-a05a3a71cbb5?dpr=1&auto=compress,format&fit=crop&w=3302&h=&q=80&cs=tinysrgb&crop=');*/
}

/* Menu container */
.menu-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    padding-top: 25px;
    padding-left: 2%;
    width: 100%;
    height: 100%;
}

/* Menu bar */
.menu-container .menu {
    flex-grow: 1;
    position: relative;
}

/* Menu item */
.menu .menu-item {
	display: block;
    cursor: pointer;
	margin-bottom: 0px;
}

/* Some distance from the first menu item */
.menu .menu-item:first-child {
	margin-bottom: 0px;
}

/* Menu text */
.menu .menu-item p {
	color: black;
	font-size: 60px;
    text-transform: none;
    letter-spacing: -0.035em;
    line-height: 0.94;
    margin: 0px 0px 0px 0px;
    padding: 0;
}

/* Menu title text */
.menu .menu-item.menu-title p {
    font-size: 23px;
    font-weight: none;
    margin-bottom: 17px;
    font-family: 'NimbusSansDOT-LighExte', sans-serif;
}


/* Menu interactivity.
   When mouse is over the menu item,
   p.label-normal gets hidden while
   p.label-over gets revealed */
.menu .menu-item p.label-normal {
    display: block;
}
.menu .menu-item:hover p.label-normal {
    display: none;
}
.menu .menu-item p.label-over {
    display: none;
    font-family: 'NimbusSansDOT-ReguExte', sans-serif;
    font-size: 60px;
}
.menu .menu-item:hover p.label-over {
    display: block;
}

.information {
    position: absolute;
    right: 4%;
    top: 32px;
}

.information p {
    font-size: 23px;
    margin: 0px 0px 0px 0px;
    letter-spacing: -0.025em;
    font-family: 'NimbusSansDOT-LighExte', sans-serif;
}

.information a, a:active {
    color: #000000;
}

.information a:hover {
    border-bottom: 1.5px solid #000;
}