@media all and (max-width: 600px) {
    .menu-container {
        flex-direction: row;
    }

    .menu-container .menu {
        flex-grow: unset;
        float: none;
        display: block;
        margin-bottom: 32px;
    }

    .menu .menu-item {
        margin-bottom: 8px;
        float: none;
        display: block;
    }

    .menu .menu-item:first-child {
        margin-bottom: 8px;
        display: block;
    }
}

